canvas {
  cursor: pointer;
}

#tooltip {
  position: absolute;
  display: block;
  box-sizing: border-box;

  padding: 5px 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 120px;
}

#tooltip div {
  overflow: hidden;
}

#tooltip::after {
  content: "";
  display: block;
  position: absolute;
  height: 15px;
  width: 2px;

  bottom: -15px;
  /**
   * It seems this value should be 63 for it to work better locally,
   * but 57 works better in Data Studio
   */
  left: 57px;

  background-color: black;
}

#tooltip-metric-value,
#tooltip-count-value {
  font-weight: bold;
}
