canvas {
  cursor: pointer;
}

#tooltip {
  position: absolute;
  display: block;
  box-sizing: border-box;

  padding: 5px 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 120px;
}

#tooltip div {
  overflow: hidden;
}

#tooltip::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 20px;
  background-color: black;
  bottom: -20px;
  left: 63px;
}

#tooltip-metric-value,
#tooltip-count-value {
  font-weight: bold;
}
