body {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
}

canvas {
  margin: 60px 80px 0px;
}

#legend {
  padding: 20px 40px;
  display: flex;
  user-select: none;
  overflow: overlay;
}

#legend[direction="vertical"] {
  flex-direction: column;
  align-items: flex-end;
  width: 200px;
}

#legend[direction="horizontal"] {
  flex-direction: column-reverse;
  align-items: center;
  height: 80px;
}

#legend[direction="vertical"] #legend-values {
  flex-direction: column;
}

#legend[direction="horizontal"] #legend-values{
  flex-direction: row;
}

#legend[direction="vertical"] .legend-value {
  flex-direction: row;
}

#legend[direction="horizontal"] .legend-value {
  flex-direction: column;
  width: 2em;
}

#legend-title {
  font-weight: bold;
  margin: 5px 0px;
}

#legend-values {
  display: flex;
  margin: 0px 5px;
}

.legend-value {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.legend-color {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-color: blue;
  border: 1px solid black;
}

.legend-number {
  display: inline-block;
  margin: 0px 5px;
}

#legend[direction="horizontal"] .legend-value:not(:nth-child(5n + 1)) .legend-number {
  display: none;
}

#tooltip {
  position: absolute;
  display: block;
  box-sizing: border-box;

  padding: 5px 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 160px;
}

#tooltip div {
  overflow: hidden;
}

#tooltip::after {
  content: "";
  display: block;
  position: absolute;
  height: 15px;
  width: 2px;

  bottom: -15px;
  left: 77px;

  background-color: black;
}

#tooltip-header {
  font-size: smaller;
  margin: -5px -10px 5px;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#tooltip-metric-value,
#tooltip-count-value {
  font-weight: bold;
}
